<header>
    <h1>{{album_page_title}}</h1>
    <a href="#/artists"
        data-role="prev-button"
        class="ui-button">Artists</a>
    <a href="#/now-playing"
        data-role="next-button"
        data-nav="now-playing"
        class="ui-button">Now Playing</a>
</header>

<div class="content" data-role="content">
    <ul class="ui-content-list double-line album-list">
        {{{all_songs_item}}}
        {{#each albums}}
        <li class="ui-content-list-item album" data-album-id="{{id}}">
            <p class="thumbnail album-cover" style="background-image: url({{cover_url}})"></p>
            <p class="caption album-name">{{name}}</p>
            <p class="descriptive artist-name">{{artist "name"}}</p>
            <p class="rating {{rating}}-star">{{rating}}</p>
        </li>
        {{/each}}
    </ul>
</div>
