<header>
    <h1>{{album_page_title}}</h1>
    <a href="#"
        data-role="prev-button"
        data-nav="artists"
        data-id=""
        class="ui-button">Artists</a>
    <a href="#"
        data-role="next-button"
        data-nav="now-playing"
        class="ui-button">Now Playing</a>
</header>

<div data-role="content">
    <ul class="ui-content-list double-line album-list">
        {{{all_songs_item}}}
        {{#each albums}}
        {{{list_divider}}}
        <li class="ui-content-list-item album" data-album-id="{{id}}">
            <p class="thumbnail album-cover"></p>
            <p class="caption album-name">{{name}}</p>
            <p class="descriptive artist-name">{{artist "name"}}</p>
            <p class="rating">{{rating}}</p>
        </li>
        {{/each}}
    </ul>
</div>
