<div id="albums-page" data-role="page">
    <header>
        <h1>All Albums</h1>
        <a href="#">Artists</a>
        <a href="#">Now Playing</a>
    </header>

    <div data-role="content">
        <ul>
            <li>All Songs
                <span class="count">14,004 Songs</span>
            </li>
            <li data-role="divider">M</li>
            <li>
                <span class="album-cover"></span>
                <span class="album-name">The Marshall Mathers LP</span>
                <span class="artist-name">Eminem</span>
                <span class="rating">3</span>
            </li>
            <li>
                <span class="album-cover"></span>
                <span class="album-name">Mechanical Animals</span>
                <span class="artist-name">Marilyn Manson</span>
                <span class="rating">3</span>
            </li>
            <li data-role="divider">P</li>
        </ul>
    </div>
</div>