<header>
    <h1>{{album_page_title}}</h1>
    <a href="#" data-nav="artists" data-id="">Artists</a>
    <a href="#" data-nav="now-playing">Now Playing</a>
</header>

<div data-role="content">
    <ul class="album-list">
        {{{all_songs_item}}}
        {{#each albums}}
        {{{list_divider}}}
        <li class="album" data-album-id="{{id}}">
            <span class="album-cover"></span>
            <span class="album-name">{{name}}</span>
            <span class="artist-name">{{artist "name"}}</span>
            <span class="rating">{{rating}}</span>
        </li>
        {{/each}}
    </ul>
</div>
