<ul class="ui-list">
    <li class="ui-list-item" data-link="all-albums">
        <p class="caption">All Albums</p>
        <p class="count">{{album_count}} Albums, {songCount} Songs</p>
    </li>
    {{#each artists}}
    <li class="ui-list-item" data-link="albums-by-artist" data-artist-id="{{id}}">
        <div class="thumbnail album-cover" style="background-image: url({{cover_url}})"></div>
        <p class="caption album-name">{{name}}</p>
        <p class="description artist-name">{{artist}}</p>
        <p class="count">{{album_song_count}}</p>
    </li>
    {{/each}}
</ul>