<div id="artists-page" data-role="page">
    <header>
        <h1>Artists</h1>
        <a href="#">Now Playing</a>
    </header>

    <div data-role="content">
        <ul>
            <li>All Albums<span class="count">300 Albums, 14,004 Songs</span></li>
            <li data-role="divider">M</li>
            <li>
                <span class="album-cover"></span>
                <span class="artist-name">Michael Jackson</span>
                <span class="count">8 Albums, 144 Songs</span>
            </li>
            <li>
                <span class="album-cover"></span>
                <span class="artist">Mumford & Sons</span>
                <span class="count">1 Album, 13 Songs</span>
            </li>
            <li data-role="divider">P</li>
        </ul>
    </div>
</div>