<header data-role="header">
    <h1 data-role="title">{{artist_page_title}}</h1>
    <a href="#/now-playing"
       data-role="next-button"
       class="ui-button now-playing-button">Now Playing</a>
</header>

<div class="content" data-role="content">
    <ul class="ui-content-list single-line artist-list">
        {{{all_albums_item}}}
        {{#each artists}}
        <li class="ui-content-list-item artist" data-artist-id="{{id}}">
            <p class="thumbnail album-cover" style="background-image: url({{artist_album_cover_url}})"></p>
            <p class="caption artist-name">{{name}}</p>
            <p class="count">{{artist_album_song_count}}</p>
        </li>
        {{/each}}
    </ul>
</div>