<div id="albums-page" data-role="page">
    <header>
        <h1>Current Playlist</h1>
        <a href="#">Now Playing</a>
    </header>

    <div class="content" data-role="content">
        <ul>
            <li class="now-playing">
                <span class="song-title">Sigh No More</span>
                <span class="artist-name">Mumford & Sons</span>
                <span class="album-name">Sigh No More</span>
                <span class="time-remaining">1:27</span>
            </li>
            <li data-role="divider">User Added</li>
            <li>
                <span class="queue-number">1</span>
                <span class="song-title">The Cave</span>
                <span class="artist-name">Mumford & Sons</span>
                <span class="album-name">Sigh No More</span>
            </li>
            <li data-role="divider">Random</li>
            <li>
                <span class="queue-number">2</span>
                <span class="song-title">Bad</span>
                <span class="artist-name">Michael Jackson</span>
                <span class="album-name">Bad</span>
            </li>
            <li>
                <span class="queue-number">3</span>
                <span class="song-title">Hurt</span>
                <span class="artist-name">Johnny Cash</span>
                <span class="album-name">American IV The Man Come</span>
            </li>
        </ul>
    </div>
</div>