<header class="header">
    <div class="title-container">
        <h1 class="title" data-list="artists">Artists</h1>
        <h1 class="title" data-list="albums">{{albums_page_title}}</h1>
        <h1 class="title" data-list="songs">{{songs_page_title}}</h1>
    </div>

    <div class="back-button-container ui-button-group">
        <button type="button"
                data-list="albums"
                data-role="button"
                data-el="artists-button">Artists</button>
        <button type="button"
                data-list="songs"
                data-role="button"
                data-el="albums-button">Albums</button>
    </div>

    <div class="next-button-container ui-button-group">
        <button type="button"
                data-role="button"
                data-button-theme="dark"
                data-el="now-playing-button">Now Playing</button>
    </div>
</header>

<div class="lists-container" data-el="library-lists">
    <div data-el="artists-list"
         data-list="artists"
         data-role="list"
         data-list-dividers="true"
         class="list-wrapper">
    </div>

    <div data-el="albums-list"
         data-list="albums"
         data-role="list"
         data-list-dividers="true"
         class="list-wrapper">
    </div>

    <div data-el="songs-list"
         data-list="songs"
         data-role="list"
         data-list-dividers="true"
         class="list-wrapper">
    </div>
</div>