<header class="header">
    <div data-el="title-container">
        <h1 class="title" data-list="artists">{{artists_page_title}}</h1>
        <h1 class="title" data-list="albums">{{albums_page_title}}</h1>
        <h1 class="title" data-list="songs">{{songs_page_title}}</h1>
    </div>

    <div data-el="back-button-container">
        <button type="button"
                data-list="albums"
                data-role="button"
                data-button-action="artists">Artists</button>
        <button type="button"
                data-list="songs"
                data-role="button"
                data-button-action="albums">Albums</button>
    </div>

    <div data-el="next-button-container">
        <button type="button"
                data-role="button"
                data-button-theme="dark"
                data-button-action="now-playing">Now Playing</button>
    </div>
</header>

<div class="list-container"  data-el="library-lists">
    <ul data-list="artists"
        data-role="list"
        data-list-dividers="true"></ul>

    <ul data-list="albums"
        data-role="list"
        data-list-dividers="true"></ul>

    <ul data-list="songs"
        data-role="list"
        data-list-dividers="true"></ul>
</div>