<div data-role="content">
    <nav class="navigation">
        <ul>
            <li><a href="#" data-nav="artists">Find Songs</a></li>
            <li><a href="#" data-nav="playlist">View Playlist</a></li>
        </ul>
    </nav>

    <div class="album-cover"></div>
    <div class="song-details">
        <h2 class="song-name">{{song.name}}</h2>
        <p class="album-artist-info">
            <span class="artist-name">{{artist.name}}</span>
            <span class="album-name">{{album.name}}</span>
        </p>
        <p class="time-remaining" data-el="time-remaining"></p>
        <p class="released">{{released_date album.release_date}}</p>
    </div>
</div>