<div class="content" data-role="content">
    <nav class="navigation">
        <ul>
            <li><a class="find-songs" href="#/artists">Find Songs</a></li>
            <li><a class="view-playlist" href="#/playlist">View Playlist</a></li>
            <li><a class="settings" href="#/settings">Settings</a></li>
        </ul>
    </nav>

    <div class="details-container">
        <div class="album-cover" style="background-image: url({{album_cover_url}})"></div>
        <div class="song-details">
            <p class="song-name">{{name}}</p>
            <p class="album-artist-info">
                <span class="artist-name">{{artist}}</span>
                <span class="album-name">{{album}}</span>
            </p>
            <p class="time-remaining" data-el="time-remaining"></p>
            <div class="metadata">
                <p class="rating {{song_rating}}-stars"></p>
                <p class="released">{{released_date album_year}}</p>
            </div>
        </div>
    </div>
</div>