<div class="content" data-role="content">
    <nav class="navigation">
        <ul>
            <li><a class="find-songs" href="#/artists">Find Songs</a></li>
            <li><a class="view-playlist" href="#/playlist">View Playlist</a></li>
        </ul>
    </nav>

    <div class="details-container swap">
        <div class="album-cover" style="background-image: url({{album_cover_url}})"></div>
        <div class="song-details">
            <p class="album-artist-info">
                <span class="artist-name">{{artist_name}}</span>
                <span class="album-name">{{album_name}}</span>
            </p>
            <p class="song-name">{{song_name}}</p>
            <span class="rating {{song_rating}}-stars"></span>
            <p class="time-remaining" data-el="time-remaining"></p>
            <p class="released">{{released_date album_release_date}}</p>
        </div>
    </div>
</div>