<header>
    <h1>{{playlist_name}}</h1>

    <button type="button"
            data-role="button"
            data-button-action="artists">Find Songs</button>
    <button type="button"
            data-role="button"
            data-button-action="now-playing">Now Playing</button>
</header>

<div class="content">
    <ul class="ui-content-list double-line songs">
        {{#if now_playing}}
        {{#with now_playing}}
        <li class="ui-content-list-item now-playing">
            <p class="caption song-title">{{name}}</p>
            <p class="descriptive song-details">
                <span class="artist-name">{{artist}}</span>
                <span class="album-name">{{album}}</span>
            </p>
            <p class="count time-remaining" data-el="time-remaining"></p>
        </li>
        {{/with}}
        {{else}}
        <li class="ui-content-list-item now-playing">
            <p class="caption">No song</p>
        </li>
        {{/if}}
        <li class="ui-content-list-divider">User Added</li>
        {{#each user_queue}}
        <li class="ui-content-list-item song">
            <p class="caption song-title">{{name}}</p>
            <p class="descriptive song-details">
                <span class="artist-name">{{artist}}</span>
                <span class="album-name">{{album}}</span>
            </p>
        </li>
        {{/each}}
        <li class="ui-content-list-divider">Random</li>
        {{#each auto_queue}}
        <li class="ui-content-list-item song">
            <p class="caption song-title">{{name}}</p>
            <p class="descriptive song-details">
                <span class="artist-name">{{artist}}</span>
                <span class="album-name">{{album}}</span>
            </p>
        </li>
        {{/each}}
    </ul>
</div>