<header>
    <h1>{{playlist_name}}</h1>
    <a href="#/artists"
        data-role="prev-button"
        class="ui-button">Find Songs</a>
    <a href="#/now-playing"
        data-role="next-button"
        class="ui-button">Now Playing</a>
</header>

<div class="content" data-role="content">
    <ul class="ui-content-list double-line songs">
        {{#with now_playing}}
        <li class="ui-content-list-item now-playing">
            <p class="caption song-title">{{name}}</p>
            <p class="descriptive song-details">
                <span class="artist-name">{{artist}}</span>
                <span class="album-name">{{album}}</span>
            </p>
            <p class="count time-remaining" data-el="time-remaining"></p>
        </li>
        {{/with}}
        <li class="ui-content-list-divider">User Added</li>
        {{#each user_queue}}
        <li class="ui-content-list-item song">
            <p class="caption song-title">{{name}}</p>
            <p class="descriptive song-details">
                <span class="artist-name">{{artist}}</span>
                <span class="album-name">{{album}}</span>
            </p>
        </li>
        {{/each}}
        <li class="ui-content-list-divider">Random</li>
        {{#each auto_queue}}
        <li class="ui-content-list-item song">
            <p class="caption song-title">{{name}}</p>
            <p class="descriptive song-details">
                <span class="artist-name">{{artist}}</span>
                <span class="album-name">{{album}}</span>
            </p>
        </li>
        {{/each}}
    </ul>
</div>