<div id="songs-page" data-role="page">
    <header>
        <h1>All Songs</h1>
        <a href="#">Albums</a>
        <a href="#">Now Playing</a>
    </header>

    <div data-role="content">
        <ul>
            <li data-role="divider">M</li>
            <li>
                <span class="album-cover"></span>
                <span class="album-name">Magna Cum Nada</span>
                <span class="artist-name">The Bloodhound Gang</span>
                <span class="album-name">Hooray for Boobies</span>
                <span class="rating">3</span>
            </li>
            <li>
                <span class="album-cover"></span>
                <span class="album-name">Make Believe</span>
                <span class="artist-name">Korn</span>
                <span class="album-name">Untouchables</span>
                <span class="rating">3</span>
            </li>
            <li data-role="divider">P</li>
        </ul>
    </div>
</div>