<header>
    <h1>{{song_page_title}}</h1>
    <a href="#/albums"
        data-role="prev-button"
        class="ui-button">Albums</a>
    <a href="#/now-playing"
        data-role="next-button"
        class="ui-button">Now Playing</a>
</header>

<div data-role="content">
    <ul class="ui-content-list double-line song-list">
        {{{add_to_playlist_item}}}
        {{#each songs}}
        <li class="ui-content-list-item song" data-song-id="{{id}}">
            <p class="thumbnail album-cover"></p>
            <p class="caption song-name">{{name}}</p>
            <p class="descriptive artist-album">{{artist "name"}} - {{album "name"}}</p>
            <p class="rating">3</p>
        </li>
        {{/each}}
    </ul>
</div>