<header>
    <h1>{{song_page_title}}</h1>
    <a href="#">Albums</a>
    <a href="#">Now Playing</a>
</header>

<div data-role="content">
    <ul class="song-list">
        {{#each songs}}
        {{{list_divider}}}
        <li class="song" data-song-id="{{id}}">
            <span class="album-cover"></span>
            <span class="song-name">{{name}}</span>
            <span class="artist-name">{{artist "name"}}</span>
            <span class="album-name">{{album "name"}}</span>
            <span class="rating">3</span>
        </li>
        {{/each}}
    </ul>
</div>