@mixin box-sizing($sizing) {
  -moz-box-sizing: $sizing;
  -webkit-box-sizing: $sizing;
  box-sizing: $sizing;
}
@mixin border-box-sizing { @include box-sizing(border-box); }

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-left($radius) {
    -moz-border-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-radius-right($radius) {
  -moz-border-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-radius-top($radius) {
  -moz-border-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin linear-gradient($topColour,
    $topStop,
    $bottomColour,
    $bottomStop) {
  background: $topColour;
  background: -moz-linear-gradient(top, $topColour $topStop, $bottomColour $bottomStop);
  background: -webkit-linear-gradient(top, $topColour $topStop, $bottomColour $bottomStop);
  background: -o-linear-gradient(top, $topColour $topStop, $bottomColour $bottomStop);
  background: -ms-linear-gradient(top, $topColour $topStop, $bottomColour $bottomStop);
  background: linear-gradient(top, $topColour $topStop, $bottomColour $bottomStop);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}

@mixin radial-gradient($position,
    $shape,
    $extent,
    $innerColour,
    $innerStop,
    $outerColour,
    $outerStop) {
  background: -moz-radial-gradient($position, $shape $extent, $innerColour $innerStop, $outerColour $outerStop);
  background: -webkit-radial-gradient($position, $shape $extent, $innerColour $innerStop, $outerColour $outerStop);
  background: -o-radial-gradient($position, $shape $extent, $innerColour $innerStop, $outerColour $outerStop);
  background: -ms-radial-gradient($position, $shape $extent, $innerColour $innerStop, $outerColour $outerStop);
  background: radial-gradient($position, $shape $extent, $innerColour $innerStop, $outerColour $outerStop);
  // No IE Radial gradient
}

@mixin box-shadow($arguments) {
  -moz-box-shadow: $arguments;
  -webkit-box-shadow: $arguments;
  box-shadow: $arguments;
}

@mixin transition($arguments) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -o-transition: $arguments;
  -ms-transition: $arguments;
  transition: $arguments;
}

@mixin user-select($arguments) {
  cursor: default;
  -webkit-user-select: $arguments;
  -khtml-user-select: $arguments;
  -moz-user-select: $arguments;
  -o-user-select: $arguments;
  user-select: $arguments;
}
@mixin user-select-none() { @include user-select(none); }