@import "theme";
@import "css3";

@mixin carbon-fibre-background($colour,
                               $darkColour: black,
                               $lightColour: rgba(255, 255, 255, 0.1),
                               $size: 12%,
                               $spacing: 4px) {
  background:
       -moz-radial-gradient($darkColour $size, transparent ($size + 1)) 0 0,
       -moz-radial-gradient($darkColour $size, transparent ($size + 1)) $spacing $spacing,
       -moz-radial-gradient($lightColour ($size + 7), transparent ($size + 8)) 0 1px,
       -moz-radial-gradient($lightColour ($size + 7), transparent ($size + 8)) $spacing ($spacing + 1),
                            $noise;
  background:
    -webkit-radial-gradient($darkColour $size, transparent ($size + 1)) 0 0,
    -webkit-radial-gradient($darkColour $size, transparent ($size + 1)) $spacing $spacing,
    -webkit-radial-gradient($lightColour ($size + 7), transparent ($size + 8)) 0 1px,
    -webkit-radial-gradient($lightColour ($size + 7), transparent ($size + 8)) $spacing ($spacing + 1),
                            $noise;
  background:
            radial-gradient($darkColour $size, transparent ($size + 1)) 0 0,
            radial-gradient($darkColour $size, transparent ($size + 1)) $spacing $spacing,
            radial-gradient($lightColour ($size + 7), transparent ($size + 8)) 0 1px,
            radial-gradient($lightColour ($size + 7), transparent ($size + 8)) $spacing ($spacing + 1),
                            $noise;
  background-color: $colour;
  background-size: ($spacing * 2) ($spacing * 2);
}

@mixin box-off-the-ground($distance) {
  @include box-shadow( (0 $distance ($distance  * 3) $shadowColour) );
}

@mixin text-off-the-ground($distance) {
  text-shadow: 0 $distance ($distance * 3) $shadowColour;
}

@mixin gleam($borderRadius) {
  $rotation: -75deg;
  $topTransparency: 0.2;
  $bottomTransparency: 0.4;
  $location: 40%;


  &:after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include border-radius($borderRadius);

    background: -moz-linear-gradient($rotation,
      rgba(255,255,255,$topTransparency) 0%,
      rgba(255,255,255,$bottomTransparency) $location,
      rgba(255,255,255,0) ($location + 1),
      rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient($rotation,
      rgba(255,255,255,$topTransparency) 0%,
      rgba(255,255,255,$bottomTransparency) $location,
      rgba(255,255,255,0) ($location + 1),
      rgba(255,255,255,0) 100%);
    background: -o-linear-gradient($rotation,
      rgba(255,255,255,$topTransparency) 0%,
      rgba(255,255,255,$bottomTransparency) $location,
      rgba(255,255,255,0) ($location + 1),
      rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient($rotation,
      rgba(255,255,255,$topTransparency) 0%,
      rgba(255,255,255,$bottomTransparency) $location,
      rgba(255,255,255,0) ($location + 1),
      rgba(255,255,255,0) 100%);
    background: linear-gradient($rotation,
      rgba(255,255,255,$topTransparency) 0%,
      rgba(255,255,255,$bottomTransparency) $location,
      rgba(255,255,255,0) ($location + 1),
      rgba(255,255,255,0) 100%);
  }
}