
// Main
$textColour: #231f20;

$linkColour: #0000ee;
$linkHoverColour: #0066ee;

$backgroundColour: #332f29;
$backgroundDotColour: #221e18;
$backgroundDotHighlightColour: #39352f;

$shadowColour: rgba(0, 0, 0, 0.75);