@import "css3";

#library {
  @include box-sizing(border-box);
  overflow-y: scroll;
  position: relative;
  max-width: 800px;
  height: 100%;
  padding: 40px;
  margin: 0 auto;

  background: white;
}