@import "theme";
@import "css3";
@import "mixins";
@import "easing";

$coverSize: 300px;
$pad: 40px;

$left: -($coverSize + ($pad / 2));
$right: ($pad / 2);

#now-playing.page {
  .content { overflow-y: hidden; top: 0; }

  nav {
    $buttonSize: 48px;

    position: absolute;
    top: 10px;
    left: 10px;
    width: $buttonSize;

    li {
      float: left;
      width: $buttonSize;
      height: $buttonSize;
      margin-bottom: 10px;

      background: white;
      border-radius: 50%;
      
      a {
        display: block;
        width: 100%;
        height: 100%;

        font-size: 0;
      }
    }
  }

  .details-container {
    position: absolute;
    width: 100%;
    height: $coverSize;
    margin: -($coverSize / 2) auto 0;
    top: 50%;

    .album-cover {
      position: absolute;
      overflow: hidden;
      z-index: 1;
      height: $coverSize;
      width: $coverSize;
      margin-left: $left;
      left: 50%;

      @include border-radius(14px);

      background: white top left no-repeat;
      background-size: 100%;
      @include box-shadow( (0 20px 50px rgba(0, 0, 0, 0.5)) );

      @include gleam(14px);

      //-webkit-animation: cover-position-swap 40s infinite $easeInOutCubic;
      
      img { width: 100%; }
    }

    .song-details {
      position: absolute;
      width: $coverSize;
      padding: $pad 0 0 0;
      margin-left: $right;
      left: 50%;

      color: white;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      
      //-webkit-animation: details-position-swap 40s infinite $easeInOutCubic;

      .album-artist-info {
        margin: 0 0 12px;
        font-size: 22px;

        .artist-name {
          &:after {
            content: ' - ';
          }
        }

        .album-name {

        }
      }

      .song-name {
        margin: 0;

        font-size: 36px;
        font-weight: 700;
      }

      .time-remaining {
        font-size: 20px;
        font-weight: 600;
        color: #dedede;
      }

      .release-date {
        color: #aaaaaa;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}

@-webkit-keyframes cover-position-swap {
  0%, 48%, 100% {
    margin-left: $left;
  }

  50%, 98% {
    margin-left: $right;
  }
}

@-webkit-keyframes details-position-swap {
  0%, 48%, 100% {
    margin-left: $right;
  }

  50%, 98% {
    margin-left: $left;
  }
}
