@import "theme";
@import "css3";

$coverSize: 300px;
$pad: 40px;

#now-playing.page {
  .content { overflow-y: hidden; top: 0; }

  nav { display: none; }

  .details-container {
    position: absolute;
    width: 100%;
    height: $coverSize;
    margin: -($coverSize / 2) auto 0;
    top: 50%;

    .album-cover {
      position: absolute;
      overflow: hidden;
      z-index: 1;
      height: $coverSize;
      width: $coverSize;
      margin-left: -($coverSize + ($pad / 2));
      left: 50%;

      @include border-radius(4px);

      background: white top left no-repeat;
      background-size: 100%;
      @include box-shadow( (0 20px 50px rgba(0, 0, 0, 0.5)) );

      img { width: 100%; }
    }

    .song-details {
      position: absolute;
      margin-left: ($pad / 2);
      left: 50%;

      color: white;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

      .song-name {
        font-size: 40px
      }

      .album-artist-info {
        .artist-name {

        }

        .album-name {

        }
      }

      .time-remaining {
        font-size: 20px;
        font-weight: 600;
        color: #dedede;
      }

      .released {

      }
    }
  }
}