@import "theme";
@import "css3";
@import "mixins";
@import "responsive";
@import "easing";

$coverSize: 300px;
$pad: 40px;
$textColour: white;

$left: -($coverSize + ($pad / 2));
$right: ($pad / 2);

#now-playing.page {
  .content { overflow-y: hidden; top: 0; }

  nav {
    $buttonSize: 48px;

    @media #{$handheldMedia} {
      display: none;
    }

    position: absolute;
    z-index: 1;
    width: $buttonSize;
    margin-top: -($coverSize / 2);
    top: 50%;
    left: 10px;

    opacity: 0.2;
    &:hover { opacity: 1; }
    @include transition( (opacity .4s $easeInOutCubic) );

    li {
      float: left;
      margin-bottom: 10px;
      
      a {
        @include box-sizing(border-box);
        display: block;
        width: $buttonSize;
        height: $buttonSize;

        font-size: 0;

        border: solid 4px #efefef;
        border-radius: 50%;

        &.find-songs {
          background: url("icons.svg#search");
        }
        &.view-playlist {
          background: url("icons.svg");
        }
        &.settings {
          background: url("icons.svg");
        }
      }
    }
  }

  .details-container {
    position: absolute;
    width: 100%;
    height: $coverSize;
    margin: -($coverSize / 2) auto 0;
    top: 50%;


    .album-cover {
      @include box-sizing(border-box);

      @media #{$normalMedia} {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        height: $coverSize;
        width: $coverSize;
        margin-left: $left;
        left: 50%;
      }
      @media #{$tabletMedia} {
        position: relative;
        margin: 0 auto;
        width: $coverSize;
        height: $coverSize;
      }

      @include border-radius(14px);

      background: white top left no-repeat;
      background-size: 100%;
      @include box-off-the-ground(20px);

      @include gleam(14px);

      //-webkit-animation: cover-position-swap 40s infinite $easeInOutCubic;
      
      img { width: 100%; }
    }

    .song-details {
      @media #{$normalMedia} {
        position: absolute;
        width: $coverSize;
        padding: $pad 0 0 0;
        margin-left: $right;
        left: 50%;

        color: $textColour;
        @include text-off-the-ground(5px);

        //-webkit-animation: details-position-swap 40s infinite $easeInOutCubic;

        .album-artist-info {
          margin: 0 0 12px;
          font-size: 22px;

          .artist-name:after { content: ' - '; }
          .album-name {}
        }

        .song-name {
          overflow: hidden;
          margin: 0;

          font-size: 36px;
          font-weight: 700;
          white-space: nowrap;
        }

        .time-remaining {
          font-size: 20px;
          font-weight: 600;
          color: #dedede;
        }

        .release-date {
          color: #aaaaaa;
          font-size: 13px;
          font-weight: 600;
        }
      }

      @media #{$tabletMedia} {
        position: absolute;
        width: $coverSize;
        height: 100px;
        margin-left: -($coverSize / 2);
        bottom: 0;
        left: 50%;

        @include text-off-the-ground(2px);

        @include border-radius-bottom-right(14px);
        @include border-radius-bottom-left(14px);

        @include linear-gradient(rgba(0, 0, 0, 0.7), 0%, rgba(0, 0, 0, 0.9), 100%);
        @include box-shadow( (0 -3px 3px -3px $shadowColour, inset 0 0 1px 1px rgba(255, 255, 255, 0.5)) );

        .album-artist-info {
          display: none;
          text-align: center;
        }

        .song-name {
          margin: 20px 0 0;
          font-size: 18px;
          font-weight: 700;

          text-align: center;
          color: $textColour;
        }
        .release-date { display: none; }
      }
    }
  }
}

@-webkit-keyframes cover-position-swap {
  0%, 48%, 100% {
    margin-left: $left;
  }

  50%, 98% {
    margin-left: $right;
  }
}

@-webkit-keyframes details-position-swap {
  0%, 48%, 100% {
    margin-left: $right;
  }

  50%, 98% {
    margin-left: $left;
  }
}
