@import "theme";
@import "css3";

$btnHeight: 36px;
$buttonBorderColour: #8b8b8b;
$dropShadow: 0 1px 2px 0px rgba(0,0,0,0.5);

.ui-button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;

  height: $btnHeight;
  padding: 0 ($btnHeight / 2);

  line-height: $btnHeight;
  font-weight: 700;
  text-shadow: $textShadow;
  color: $textColour;

  border-radius: 3px;
  border: none;

  @include linear-gradient($btnTopColour, 0%, $btnBottomColour, 100%);
  box-shadow: inset 0 1px 0 $btnHighlightColour, $dropShadow;

  &:hover {
    color: $selectedTextColour;

    @include linear-gradient($btnHoverTopColour, 0%, $btnHoverBottomColour, 100%);
    box-shadow: inset 0 1px 0 $btnHoverHighlightColour, $dropShadow;
  }
  &:active {
    @include transform( (translateY(1px)) );

    color: $selectedTextColour;

    @include linear-gradient($btnActiveTopColour, 0%, $btnActiveBottomColour, 100%);
    box-shadow: inset 0 1px 0 $btnActiveHighlightColour, inset 0 0 4px rgba(0,0,0,0.1) $dropShadow;
  }
  &:focus {
    color: $selectedTextColour;
    outline: solid 1px $selectedTextColour;
  }
}

.ui-button-group {
  padding: 3px;

  @include border-radius(6px);

  background: rgba(17, 17, 17, 0.35);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.10);
}

.ui-list {
  $thumbnailSize: 48px;

  margin: 0;
  padding: 0;

  list-style: none;

  background: $noise, -webkit-linear-gradient(top, $lstBgColour 0%, $lstBgColour 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(255, 255, 255, 0.15), $dropShadow;

  .ui-list-item {
    position: relative;
    height: $thumbnailSize;
    padding: 3px;

    cursor: pointer;
    text-shadow: $textShadow;

    border-top: solid 1px $lstItemBorderTopColour;
    border-bottom: solid 1px $lstItemBorderBottomColour;

    &:first-child { border-top: none; }
    &:last-child { border-bottom: none; }

    &:hover {
      color: $selectedTextColour;
      background: $lstItemHoverBgColour;
    }
    &:active {
      color: $selectedTextColour;
      background: $lstItemActiveBgColour;
    }

    .thumbnail {
      float: left;
      width: $thumbnailSize;
      height: $thumbnailSize;
      margin: 0 10px 0 0;

      background: white top left no-repeat;
      background-size: $thumbnailSize;
    }

    .caption {
      overflow: hidden;
      margin: 0;

      line-height: 30px;
      font-size: 18px;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .description {
      margin: 0;
      font-size: 13px;
      font-weight: 600;
      color: $hintTextColour;
    }

    .count, .rating {
      position: absolute;
      top: 0;
      right: 10px;
      margin: 0;

      line-height: 48px;
      font-size: 13px;
      font-weight: 600;
      color: $hintTextColour;
    }
  }

  &.single-line .ui-content-list-item {
    .caption { line-height: 48px; }
  }

  &.double-line .ui-content-list-item {
    .caption { padding-top: 6px; }
  }

  .ui-content-list-divider {
    height: 24px;
    padding-left: 10px;

    line-height: 24px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);

    border-top: solid 1px $buttonBorderColour;
    border-bottom: solid 1px $buttonBorderColour;

    @include linear-gradient(#b1b1b1, 0%, #c0c0c0, 100%);
    box-shadow: inset 0 1px 0 #c0c0c0;
  }
}